<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>new bucketList</title>
    <!-- <script src="https://code.jquery.com/jquery-1.10.2.js"></script> -->
    <script src="/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="/js/bucket.js"></script>
    <script src="/js/nav.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bucket.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">

    <script>
		$(document).ready(function() {
			var buckets = JSON.parse(<%- JSON.stringify(buckets) %>);

			console.log(<%- JSON.stringify(buckets) %>);
			console.log(buckets[0].bucketlist_Limit);
		});
    </script>

</head>

<body>
    <div id="else-container">
        <header>
            <nav id="navupdown" class="navbar navbar-transparent navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-target">
                            <span class="sr-only">navigation of toggle</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar-target" class="in">
                        <ul id="navbar" class="nav navbar-nav">
                            <li>
                                <!-- <a href="/"><img src="/imgs/logo" class="index_nav" /></a> -->
                                <a href="/"><h1 id="side-logo">Handalart</h1></a>
                                <img id="divider" src="/imgs/divider.png" alt="menu divider">
                            </li>

                            <li style="padding-top:30px">
                                <a href="/bucket" onmouseover="hovering(this, '/imgs/bucket')" onmouseout="hoveringOut(this, '/imgs/bucket')"><img src="/imgs/bucket" class="index_nav" /></a>
                            </li>
                            <li>
                                <a href="/mandal" onmouseover="hovering(this, '/imgs/mandal')" onmouseout="hoveringOut(this, '/imgs/mandal')"><img src="/imgs/mandal" class="index_nav" /></a>
                            </li>
                            <li>
                                <a href="/calendar" onmouseover="hovering(this, '/imgs/calendar')" onmouseout="hoveringOut(this, '/imgs/calendar')"><img src="/imgs/calendar" class="index_nav" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div id="content-wrapper">
           <div id="main">
      <div id="switch">
        <!--<button type="button" class="bbtn" name="active" id="active">진행중</button>
        <button type="button" class="bbtn" name="completed" id="complete">완료</button>-->
      </div>
      <hr>
      <button type="button" name="append" id="append" class=" bbtn  btn-info btn-lg" data-toggle="modal" data-target="#inputModal">목록 추가</button>
      <div id="contentList">
        <ul id="list">
          <!--<li>
            <button type="button" name="delete" class="delete">X</button>
            <div class="content">
              <div class="info"><span hidden class="listNum">1</span><span id="scomp" hidden>yet</span><span class="snum">1</span> <span id="sgoal">목표</span> <br> <span id="sdate">목표일시</span></div>
              <div class="button">
                <button type="button" name="show" class="show">▼내용보기</button>
                <button type="button" name="edit" class="edit">수정</button>
                <button type="button" name="complete" class="complete">완료</button>
              </div>
              <div class="desc" hidden>
                <pre>
description
                </pre>
              </div>
            </div>
          </li>-->
        </ul>
      </div>
    </div>
    <!-- append Modal -->
    <div class="modal fade" id="inputModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <form name="appendform" action="/bucket/add" method="post">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" data-keyboard="true">&times;</button>
              <h4 class="modal-title ">목록 추가</h4>
            </div>
            <div class="modal-body">
              <input type="text" hidden name="isComp" value="yet">
              <input type="text" id="goal" name="goal" placeholder="Goal" maxlength="12">
              <input type="date" id="date" name="date">
              <textarea name="description" id="description" rows="8" cols="40"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" id="ok" class="btn btn-default"  name="button">확인</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            </div>
          </div>
        </form>
      </div>
    </div>
        <!--Edit Modal -->
        <div class="modal fade" id="editModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <form name="editForm" action="/edit" method="post">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" data-keyboard="true">&times;</button>
                  <h4 class="modal-title">내용 편집</h4>
                </div>
                <div class="modal-body">
                  <input type="text" hidden name="bucketNum" value="yet">
                  <input type="text" id="editGoal" name="goal" placeholder="Goal" maxlength="20">
                  <input type="date" id="editDate" name="date">
                  <textarea name="description" id="edescription" rows="8" cols="40"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" id="editok" class="btn btn-default" id="no"  name="button">확인</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--Complete Modal -->
        <div class="modal fade" id="compModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <form name="compForm" action="/bucket/edit" method="post">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" data-keyboard="true">&times;</button>
                  <h1 class="modal-title">목표 달성</h4>
                </div>
                <div class="modal-body">
                  <h3>목표에 달성하셨습니까?</h3>
                </div>
                <div class="modal-footer">
                  <button type="button" id="compOk" class="btn btn-default" id="no"  name="button">확인</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--Delete Modal -->
        <div class="modal fade" id="deleModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <form name="deleForm" action="/bukcet/delete" method="post">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" data-keyboard="true">&times;</button>
                  <h1 class="modal-title">목표 삭제</h4>
                </div>
                <div class="modal-body">
                  <h3>목표를 삭제하시겠습니까?</h3>
                </div>
                <div class="modal-footer">
                  <button type="button" id="deleOk" class="btn btn-default"  name="button">확인</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        </div>
        </div>
    <div id="black-cover"></div>
    <div id="bg"></div>
</body>

</html>
