<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>bucket</title>

    <link rel="stylesheet" href="../css/bucket.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <script src="../js/bucket.js"></script>
    <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>

    </head>
    <div id="else-container">

    <body>
      <header>
        <div id="header-back">
          <nav class ="navbar navbar-transparent navbar-fixed-top" role="navigation">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-target">
                  <span class="sr-only">navigation of toggle</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
            <div id="navbar-target" class="navbar-collapse in">
              <ul id="navbar-logo" class="nav navbar-nav navbar-left">
                <li><a href="/"><img src="/imgs/logo" class="index_nav"/></a></li>
              </ul>
            <!-- <li><a href="/login"><img src="/imgs/login" id="login"/></a><li/> -->
              <ul id="navbar" class="nav navbar-nav navbar-right">
                <li><a href="/bucket"><img src="/imgs/bucket" class="index_nav"/></a></li>
                <li><a href="/mandal"><img src="/imgs/mandal" class="index_nav"/></a></li>
                <li><a href="/calendar"><img src="/imgs/calendar" class="index_nav"/></a></li>
              </ul>
            </div>
         </div>
         </nav>
      </header>
    <section>

      <button type="button" id="delete" class="tableBtn">삭제</button>
      <button type="button" id="editList" class="tableBtn">완료</button>
      <button type="button"id="addList" class="tableBtn">추가</button>

      <form action="/bucket" method="POST" class="bucketForm">
        <table border="1" id="tmain" class="table-hover">
          <thead align="center">
            <tr>
              <td class="checkbox">&nbsp</td>
              <td colspan="4">
                Bucket List!
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="checkbox"><input type="checkbox" id="allcheck"></td>
              <td>순번</td>
              <td>내용</td>
              <td>목표 일자</td>
              <td>목표 달성</td>
            </tr>
          </tbody>
        </table>
      </form>
  <div id="dialog">
    <p id="digcon">

    </p>
    <button type="submit" name="subIsComp" class="digBtn">예</button>
    <button type="button" name="button">아니오</button>
  </div>
    </section>
    <footer></footer>
    </div>
    <div id="black-cover"></div>
    <div id="bg"></div>
  </body>
</html>
