<html>
<head>
    <link rel="stylesheet" type="style/css" href="../css/clock.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <header>
      <a href="/"><img src="/imgs/logo" id="logo"/></a>
      
      <a href="/login"><img src="/imgs/login" class="nav"/></a>
      <a href="/mandal"><img src="/imgs/mandal" class="nav"/></a>
      <a href="/bucket"><img src="/imgs/bucket" class="nav"/></a>
    </header>

    <section>
        <div id="pieChart">
            <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
            <script src="../js/d3pie.min.js"></script>
            <script src="../js/data.js"></script>
        </div>
    </section>

    <footer>
        
    </footer>
</body>
</html>
