<!DOCTYPE html>
<html>
    <head>
        <meta charset = utf-8>
        <title>sample</title>
        <script src="//d3js.org/d3.v3.min.js"></script>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <link rel="stylesheet" type="text/css"
            href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
        <link rel="stylesheet" type="text/css" href="day_calendar.css"/>
    </head>
    
    <body>
        <svg id="graph"></svg>
        <script src = "day_calendar.js"></script>
    </body>
</html>