<!DOCTYPE html>
<html>
<head>
	<!-- <meta charset = "utf-8"> -->
    <title>Calendar_month</title>

	<script src="//d3js.org/d3.v3.min.js"></script>
	<script src="/vendor/ejs.js"></script>
	<link href="/css/style.css" rel="stylesheet" type="text/css">

	<!--jQuery-->
	<script src='/vendor/jquery-1.10.2.min.js'></script>
	<script src='/vendor/jquery-ui-1.10.2.custom.min.js'></script>
	<script src = '/js/calendar.js'></script>

	<!-- Bootstrap-->
	<link href = "/css/bootstrap.min.css" rel="stylesheet" media="screen">

	<script src = '/vendor/bootstrap.min.js'></script>
	<script src = '/vendor/modal.js'></script>
	<link href='/css/modals.less' rel = 'stylesheet' type = 'text/less'>

	<!--FullCalendar-->

	<link href='/css/fullcalendar.css' rel='stylesheet' type="text/css">
	<link href='/css/fullcalendar.print.css' rel='stylesheet' media='print' type="text/css">

	<script src='/vendor/moment.min.js'></script>
	<script src='/vendor/jquery-ui.js'></script>
	<script src='/vendor/fullcalendar.js'></script>
	<!--<script src='/vendor/lang-all.js'></script>-->

	<script src = '/vendor/modal.js'></script>
	<link href='/css/modals.less' rel='stylesheet' type='text/css'>


	<link rel="stylesheet" type="text/css" href="/css/day_calendar.css"/>
	<link rel="stylesheet" type="text/css" href="/js/day_calendar.js"/>

  <script type="text/javascript" src="js/nav.js"></script>


	<!--<script type='text/javascript'>
		$(document).ready(function() {
			$(".fc-button-agendaDay").on('click', function() {
				<% include ./day_calendar.ejs %>
			});
		});
	</script>-->
</head>
<body>
    <div id="else-container">
			<header>
				<nav id="navupdown" class ="navbar navbar-transparent navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-target">
              <span class="sr-only">navigation of toggle</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        <div id="navbar-target" class="navbar-collapse in">
          <ul id="navbar-logo" class="nav navbar-nav navbar-left">
            <li><a href="/"><img src="/imgs/logo" class="index_nav"/></a></li>
          </ul>
        <!-- <li><a href="/login"><img src="/imgs/login" id="login"/></a><li/> -->
          <ul id="navbar" class="nav navbar-nav navbar-right">
            <li><a href="/bucket"><img src="/imgs/bucket" class="index_nav"/></a></li>
            <li><a href="/mandal"><img src="/imgs/mandal" class="index_nav"/></a></li>
          </ul>
        </div>
     </div>
     </nav>
			</header>

		<!--FullCalendar container div-->
		<div id='calendar'>
			<div id='hide-scrollbar'>
				<div id='calendar-inner'>

					<div class="modal fade" id="view_eventadd">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title">일정</h4>
								</div>
								<div class="modal-body">
									<p>
										<label>Event title</label><br/>
										<input type = "text" id = "title" class = "span10">
									</p>

									<!--<p>
										<label>Day</label><br/>
										<input type = "text" id = "day" class = "span10">
									</p>-->
								</div>
								<div class="modal-footer">
									<button type = "button" class="btn btn-primary" data-option="add" id="add">add</button>
									<button type = "button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>

					<div class="modal fade" id="view_event">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">&times;</button>
									<h4 class="modal-title" id="event_title">일정</h4>
								</div>
								<div class="modal-body">
									<p>
										<label>Event title</label><br/>
										<input type = "text" id = "changetitle" class = "span10">
									</p>
								</div>
								<div class="modal-footer">
									<button type = "button" class = "btn btn-danger" data-option = "remove" id = "remove">remove</button>
									<button type = "button" class = "btn btn-primary" data-option = "edit" id = "edit">edit</button>
									<button type= " button" class = "btn btn-default" data-dismiss = "modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div id="black-cover"></div>
  <div id="bg"></div>
</body>
</html>
