<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>만다라트</title>

    <script src="/vendor/jquery-1.10.2.min.js"></script>
    <script src="/vendor/jquery-ui-1.10.2.custom.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var userEmail = ('<%- JSON.stringify(user) %>');
        console.log(userEmail);
        
        if (userEmail.hasOwnProperty("email"))
          console.log('dsfs');
        
        if (userEmail.id) {
          $('#log_form').html('<%- include logoutform.ejs %>')
          console.log('Welcome ' + userEmail.displayName + '!!');
          
          //console.log(userEmail.email);
        } else {
          $('#log_form').html('<%- include loginform.ejs %>');
        }
        //$('#log_form').html('<%- include loginform.ejs %>');
        $('.user-email').text('Welcome ' + userEmail.displayName + '!!');
      });
    </script>
   
    <link rel="stylesheet" href="css/login.css"/>
    <link rel="stylesheet" href="css/style.css">
  </head>
  
  <body>
    <header>
      <a href="/"><img src="/imgs/logo.png" id="logo"/></a>
      <a href="/bucket"><img src="/imgs/bucket_icon.png" class="nav"/></a>
      <a href="/mandal"><img src="/imgs/mandal_icon.png" class="nav"/></a>
      <a href="/calendar"><img src="/imgs/calendar_icon.png" class="nav"/></a>
      <p class="user-email"></p>
    </header>
    
    <section>
      
      <div class="logged" id="log_form">
        
      </div>
    </section>

    <footer>
      <small>by- daidai</small>
    </footer>
  </body>
</html>
