<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>만다라트</title>

    <script src="/vendor/jquery-1.10.2.min.js"></script>
    <script src="/vendor/jquery-ui-1.10.2.custom.min.js"></script>

    <link rel="stylesheet" href="css/login.css"/>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header>
      <a href="/"><img src="/imgs/logo" id="logo"/></a>
      <a href="/bucket"><img src="/imgs/bucket" class="nav"/></a>
      <a href="/mandal"><img src="/imgs/mandal" class="nav"/></a>
      <a href="/calendar"><img src="/imgs/calendar" class="nav"/></a>
      <p><%= user %></p>
    </header>
    
    <section>
      <div>
        <form class="login_form" action="/login" method="POST">
					<input type="text" placeholder="E-mail" id="email" name="email">
					<input type="text" placeholder="Password" id="password" name="password">
					
					<p><a href="/forgot-passwd">forgot your password?</a></p>
					<input type="submit" value="Log in" id="login">
				</form>
      </div>
    </section>

    <footer>
      <small>by- daidai</small>
    </footer>
  </body>
</html>
