<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>만다라트</title>
    <link rel="stylesheet" href="/css/mandal_tri.css">
    <script src="/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="/js/mandal_tri.js"></script>
  </head>
  <body>

    <header>
      <a href="/index"><img src="/imgs/logo" id="logo" draggable="false"/></a>
      <a href="/login"><img src="/imgs/login" id="login" draggable="false"/></a>
      <a href="/calendar"><img src="/imgs/calendar" id="calender" draggable="false"/></a>
      <a href="/bucket"><img src="/imgs/bucket" id="bucket"  draggable="false"/></a>
    </header>

    <section>
    <table border ="0">
       <!-- 1st line-->
       <tr>
       <td></td>
       <td></td>
       <td></td>
       <td><textarea name="name" rows="8" cols="5" class="up"></textarea></td>
       <td></td>
       <td></td>
       <td></td>
       </tr>
       <!-- 2nd line-->
       <tr>
       <td></td>
       <td></td>
       <td><textarea name="name" rows="8" cols="5" class="up"></textarea></td>
       <td><textarea name="name" rows="8" cols="5" class="under"></textarea></td>
       <td><textarea name="name" rows="8" cols="5" class="up"></textarea></td>
       <td></td>
       <td></td>
       </tr>
       <!-- 3rd line-->
       <tr>
       <td></td>
       <td><textarea name="name" rows="8" cols="5" class="up"></textarea></td>
       <td><textarea name="name" rows="8" cols="5" class="under"></textarea></td>
       <td><textarea name="name" rows="8" cols="5" class="up"></textarea></td>
       <td><textarea name="name" rows="8" cols="5" class="under"></textarea></td>
       <td><textarea name="name" rows="8" cols="5" class="up"></textarea></td>
       <td></td>
       </tr>
       <!-- 4th line-->
       <tr>
       <td><textarea name="name" rows="8" cols="5" class="up"></textarea></td>
       <td><textarea name="name" rows="8" cols="5" class="under"></textarea></td>
       <td><textarea name="name" rows="8" cols="5" class="up"></textarea></td>
       <td><textarea name="name" rows="8" cols="5" class="under"></textarea></td>
       <td><textarea name="name" rows="8" cols="5" class="up"></textarea></td>
       <td><textarea name="name" rows="8" cols="5" class="under"></textarea></td>
       <td><textarea name="name" rows="8" cols="5" class="up"></textarea></td>
       </tr>

     </table>

    </section>

    <footer>

    </footer>

  </body>
</html>
