<html>
<head>
	<meta charset="UTF-8">
	<title>Hello</title>
    
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	
	<script src="/js/mandal_main.js"></script>
	
	<script src="/js/vendor/jquery.zoomooz.min.js"></script>
    
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="../css/mandal_main.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
    
	<script type='text/javascript'>
		$(document).ready(function() {
			$('#sendData').on('click', function() {
				var jsonObj = <%- JSON.stringify(obj) %>;
                
                var string  = 'Sub1_act1';
                
                alert(jsonObj[string]);
                
                $.each(jsonObj, function(index, value) {
                    console.log(jsonObj[index] + index);
                }); 
                
			}); 
		});
	</script>
</head>

<body>
	<header>
		<a href="/"><img src="/imgs/logo" id="logo"/></a>
		<a href="/bucket"><img src="/imgs/bucket" class="nav"/></a>
		<a href="/calendar"><img src="/imgs/calendar" class="nav"/></a>
		<a href="/mandal"><img src="/imgs/mandal" class="nav"/></a>
	</header>
	
	<section>
		
		<input type="button" value='확인' id='sendData'>		
		
	</section>
	
	<footer>
		
	</footer>
</body>
</html>
