<html>
<head>
	<meta charset="UTF-8">
	<title>MandalArt</title>

	<script src="/vendor/jquery-1.10.2.min.js"></script>
	<script src="/vendor/jquery-ui.js"></script>

	<script src="/vendor/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.min.css">


	<script src="/js/mandal_main.js"></script>
	<script src="/js/vendor/jquery.zoomooz.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/css/mandal_main.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<script src = '/vendor/modal.js'></script>
	<link href='/css/modals.less' rel='stylesheet' type='text/css'>

	<script type="text/javascript" src="/js/nav.js"></script>

	<script type='text/javascript'>
		$(document).ready(function() {
			var mandalUltimateData = JSON.parse(<%- JSON.stringify(ultimate) %>);
			var mandalSubData = JSON.parse(<%- JSON.stringify(sub) %>);
			var mandalDetailData = JSON.parse(<%- JSON.stringify(detail) %>);

			if (mandalUltimateData) {
				$(".ultimateGoal")
				.children(".text-field").text(mandalUltimateData[0].mandal_content)
				.next(".hidden-field").val(mandalUltimateData[0].mandal_content);
			}

			if (mandalSubData) {
				$.each($(".subGoal"), function(index, value) {
					$(this)
					.children(".text-field").text(mandalSubData[index].mandalSub_Content)
					.next(".hidden-field").val(mandalSubData[index].mandalSub_Content);
				});

				$.each($(".falseSub"), function(index, value) {
					$(this)
					.children(".text-field").text(mandalSubData[index].mandalSub_Content)
					.next(".hidden-field").val(mandalSubData[index].mandalSub_Content);
				});
			}

			if (mandalDetailData) {
				$.each($(".detailGoal"), function(index, value) {
					var content = mandalDetailData[parseInt(index/8)]['mandalDetail_Content' + parseInt(index % 8 + 1)];

					if (content) {
						$(this)
						.children(".text-field").text(content)
						.next(".hidden-field").val(content);
					}
					else {
						return true;
					}
				});
			}
		});
	</script>
</head>

<body>
	<div id="else-container">
		<header>
				<nav id="navupdown" class="navbar navbar-transparent navbar-fixed-top" role="navigation">
						<div class="container">
								<div class="navbar-header">
										<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-target">
												<span class="sr-only">navigation of toggle</span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
										</button>
								</div>
								<div id="navbar-target" class="navbar-collapse in">
										<ul id="navbar" class="nav navbar-nav">
												<li>
														<!-- <a href="/"><img src="/imgs/logo" class="index_nav" /></a> -->
														<a href="/"><h1 id="side-logo">Handalart</h1></a>
														<img id="divider" src="/imgs/divider.png" alt="menu divider">
												</li>

												<li style="padding-top:30px">
														<a href="/bucket" onmouseover="hovering(this, '/imgs/bucket')" onmouseout="hoveringOut(this, '/imgs/bucket')"><img src="/imgs/bucket" class="index_nav" /></a>
												</li>
												<li>
														<a href="/mandal" onmouseover="hovering(this, '/imgs/mandal')" onmouseout="hoveringOut(this, '/imgs/mandal')"><img src="/imgs/mandal" class="index_nav" /></a>
												</li>
												<li>
														<a href="/calendar" onmouseover="hovering(this, '/imgs/calendar')" onmouseout="hoveringOut(this, '/imgs/calendar')"><img src="/imgs/calendar" class="index_nav" /></a>
												</li>
										</ul>
								</div>
						</div>
				</nav>
		</header>
		<div id="content-wrapper">
		<section>
			<div class="formContainer">
				<form action="/mandal/main" method="POST" class="mandalForm">
					<div class='zoomViewport'>
						<div id="top"></div>
						<div class='zoomContainer' id='mandal-container'>
								<div class='mandal-top' id='mandal1'>
									<table class="mandal-table">
										<tr>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										</tr>

										<tr>
										<td class="table-article detailGoal"></td>
										<td class="table-article falseSub zoomTarget center"></td>
										<td class="table-article detailGoal"></td>
										</tr>

										<tr>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										</tr>
									</table>
								</div>

								<div class='mandal-top' id='mandal2'>
									<table class="mandal-table">
										<tr>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										</tr>

										<tr>
										<td class="table-article detailGoal"></td>
										<td class="table-article falseSub zoomTarget center"></td>
										<td class="table-article detailGoal"></td>
										</tr>

										<tr>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										</tr>
									</table>
								</div>

								<div class='mandal-top' id='mandal3'>
									<table class="mandal-table">
										<tr>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										</tr>

										<tr>
										<td class="table-article detailGoal"></td>
										<td class="table-article falseSub zoomTarget center"></td>
										<td class="table-article detailGoal"></td>
										</tr>

										<tr>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										</tr>
									</table>
								</div>


								<div class='mandal-mid' id='mandal4'>
									<table class="mandal-table">
										<tr>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										</tr>

										<tr>
										<td class="table-article detailGoal"></td>
										<td class="table-article falseSub zoomTarget center"></td>
										<td class="table-article detailGoal"></td>
										</tr>

										<tr>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										</tr>
									</table>
								</div>

								<div class='mandal-center'>
									<table class="mandal-table">
										<tr>
										<td class="table-article zoomTarget subGoal" id="mandal-zoom1"></td>
										<td class="table-article zoomTarget subGoal" id="mandal-zoom2"></td>
										<td class="table-article zoomTarget subGoal" id="mandal-zoom3"></td>
										</tr>

										<tr>
										<td class="table-article zoomTarget subGoal" id="mandal-zoom4"></td>
										<td class="table-article zoomTarget ultimateGoal" id="zoom-center"></td>
										<td class="table-article zoomTarget subGoal" id="mandal-zoom5"></td>
										</tr>

										<tr>
										<td class="table-article zoomTarget subGoal" id="mandal-zoom6"></td>
										<td class="table-article zoomTarget subGoal" id="mandal-zoom7"></td>
										<td class="table-article zoomTarget subGoal" id="mandal-zoom8"></td>
										</tr>
									</table>
								</div>

								<div class='mandal-mid' id='mandal5'>
									<table class="mandal-table">
										<tr>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										</tr>

										<tr>
										<td class="table-article detailGoal"></td>
										<td class="table-article falseSub zoomTarget center"></td>
										<td class="table-article detailGoal"></td>
										</tr>

										<tr>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										</tr>
									</table>
								</div>


								<div class='mandal-bot' id='mandal6'>
									<table class="mandal-table">
										<tr>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										</tr>

										<tr>
										<td class="table-article detailGoal"></td>
										<td class="table-article falseSub zoomTarget center"></td>
										<td class="table-article detailGoal"></td>
										</tr>

										<tr>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										</tr>
									</table>
								</div>

								<div class='mandal-bot' id='mandal7'>
									<table class="mandal-table">
										<tr>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										</tr>

										<tr>
										<td class="table-article detailGoal"></td>
										<td class="table-article falseSub zoomTarget center"></td>
										<td class="table-article detailGoal"></td>
										</tr>

										<tr>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										</tr>
									</table>
								</div>

								<div class='mandal-bot' id='mandal8'>
									<table class="mandal-table">
										<tr>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										</tr>

										<tr>
										<td class="table-article detailGoal"></td>
										<td class="table-article falseSub zoomTarget center"></td>
										<td class="table-article detailGoal"></td>
										</tr>

										<tr>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										<td class="table-article detailGoal"></td>
										</tr>
									</table>
								</div>
						</div>
					</div>

					<input type="submit" class="ts btn btn-danger" value="저장" id='getData'>
				</form>
			</div>
		</section>
	</div>

		<footer>

		</footer>
	</div>

	<div class="modal fade" id="addMandal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">만다라트</h4>
				</div>
				<div class="modal-body">
					<p>
						<label>내용 입력</label><br/>
						<input type = "text" id = "modal-article" class = "span10">
					</p>
				</div>
				<div class="modal-footer">
					<button type = "button" class="btn btn-primary" data-option="add" id="add-modal">추가</button>
					<button type = "button" class="btn btn-default" data-dismiss="modal" id="modal-cancle">취소</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">만다라트</h4>
				</div>
				<div class="modal-body">
					<p>
						<label>내용 입력</label><br/>
						<input type = "text" id = "modal-article" class = "span10">
					</p>
				</div>
				<div class="modal-footer">
					<button type = "button" class="btn btn-primary" data-option="add" id="add-modal">추가</button>
					<button type = "button" class="btn btn-default" data-dismiss="modal" id="modal-cancle">취소</button>
				</div>
			</div>
		</div>
	</div>
	<div id="black-cover"></div>
	<div id="bg"></div>
</body>
</html>
