<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/css/mandal_make.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="/css/mandal_main.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <script src="vendor/jquery-1.10.2.min.js"></script>
    <script src="vendor/jquery-ui-1.10.2.custom.min.js"></script>
    <script src="js/mandalmake.js"></script>
    <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/nav.js"></script>

    <title>만다라트</title>

    <script type='text/javascript'>
      $(document).ready(function() {
        var index = JSON.parse(<%- JSON.stringify(mandalIndex) %>);
        var mandalUltimateData = JSON.parse(<%- JSON.stringify(ultimate) %>);
        var mandalSubData = JSON.parse(<%- JSON.stringify(sub) %>);


        $.each(index, function(index, val) {
          if (val.mandal_Id == 0) return true;

          $("section")
          .append('<a href="/mandal/main/' + val.mandal_Id + '">' + '<% include mandal_preview %>' + '</a>');
        });

        $.each($(".ultimateGoal"), function(index) {
          $(this).children(".text-field")
          .text(mandalUltimateData[index + 1].mandal_content);
        });


      });
    </script>
    <!--$.each($(".preview"), function(index, val) {
          var link = "/mandal/main/" + (index + 1)
          console.log(link);
          $(this).load(link + " .mandal-center")
        });-->
  </head>

  <body>
    <div id="else-container">

      <header>
          <nav id="navupdown" class="navbar navbar-transparent navbar-fixed-top" role="navigation">
              <div class="container">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-target">
                          <span class="sr-only">navigation of toggle</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                  </div>
                  <div id="navbar-target" class="navbar-collapse in">
                      <ul id="navbar" class="nav navbar-nav">
                          <li>
                              <!-- <a href="/"><img src="/imgs/logo" class="index_nav" /></a> -->
                              <a href="/"><h1 id="side-logo">Handalart</h1></a>
                              <img id="divider" src="/imgs/divider.png" alt="menu divider">
                          </li>

                          <li style="padding-top:30px">
                              <a href="/bucket" onmouseover="hovering(this, '/imgs/bucket')" onmouseout="hoveringOut(this, '/imgs/bucket')"><img src="/imgs/bucket" class="index_nav" /></a>
                          </li>
                          <li>
                              <a href="/mandal" onmouseover="hovering(this, '/imgs/mandal')" onmouseout="hoveringOut(this, '/imgs/mandal')"><img src="/imgs/mandal" class="index_nav" /></a>
                          </li>
                          <li>
                              <a href="/calendar" onmouseover="hovering(this, '/imgs/calendar')" onmouseout="hoveringOut(this, '/imgs/calendar')"><img src="/imgs/calendar" class="index_nav" /></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </nav>
      </header>

<div id="content-wrapper">
    <div id = 'option'>
      <img src="imgs/plus.png" id="addbtn"/>
      <i id="plus" class="fa fa-plus-circle"></i>
        <ul id="mandal_slide">
          <li><a href="/mandal_template"><img src="imgs/select_circle.png" class="selector" id="circle"/></a></li>
          <li><img src="imgs/select_triangle.png" class="selector" id="triangle"/></li>
          <li><a href="/mandal/main"><img src="imgs/select_square.png" class="selector" id="square"/></a></li>
        </ul>
    </div>

<!-- 게시물의 개수를 받아 for문을 돌려 이미지를 출력해준다. -->
    <section>
    </section>

    <footer>

    </footer>
    </div>
  </div>
    <div id="black-cover"></div>
    <div id="bg"></div>
  </body>
</html>
