/*list*/
#list>li{
  background-color:rgba(0,0,0,0);
  list-style: none;
  border: 1px solid #fff;
  border-radius: 20px;
  width: 75%;
  /*padding: 20px;*/
  border-radius: 5px;
  margin-top: 10px;
}
.info{
  font-size: 25px;
  color: #fff;
}
.button{
  background-color: rgba(0,0,0,0);
}
.btn-info,.btn-info:hover, .btn-info:active,.btn-info:focus{
  background-color: rgba(0,0,0,0);
}
/* button in list*/
.show,.edit,.complete{
  float: right;
}
/*group of button*/
.button{
  height: 20px;
}
.delete{
  margin: 6px;
  font-size: 5px;
}
.button>button, .delete{
  border-radius: 5px;
    float: right;
}
.content{
  margin: 20px;
}
.desc>pre{
  text-align: left;
  margin-top: 20px;
  background-color: #fff;
}
#append{
  float: right;
}
#active, #complete{
  height: 46px;
  width: 80px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
hr{
  height: 10px;
  margin-top: 0px;
}
.bbtn:hover{
  background-color: rgba(0,0,0,0);
  border-color: #fff;
}
.bbtn:active{
  background-color: rgba(0,0,0,0);
  border-color: #fff;
}
textarea{
  margin-top: 10px;
}
.bbtn{
  margin-right: 6px;
  border-color: #fff;
  color: #fff;
  background-color: rgba(0,0,0,0);
  
}
#switch{
  margin-top: 30px;
  margin-left: 10px;
}
pre{
  font-size: 20px;
}
.btn{
  color: #000;
  border-color: #000; 
}
hr{
  margin-top: 100px;
}
