svg {
	  width: 1000px;
    height: 1000px;
		stroke: #000;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
 
#graph path {
  stroke: white;
}
 
#percentage {
  font-size: 3.5em;
	color: white;
	opacity: 0.5;
}
 
.hour-hand{
	stroke-width:6;
	stroke-linecap:round;
	stroke: white;
}
 
.minute-hand{
	stroke-width:3;
	stroke-linecap:round;
	stroke: white;
}
 
.hands-cover{
	stroke-width:3;
	fill:#fff;
}
 
.hour-label{
	font-size: 24px;
	color: white;
}