.form-control.transparent{
  background-color: rgba(255, 255, 255, 0.43);
  border: 1px solid rgba(238, 238, 238, 0);
  border-bottom-color: rgba(238,238,238, 0.07);
  color: #000000;
  margin-bottom: 3px;
  vertical-align: middle;
}

body{
  margin: 0px;
}



#flash {
    background: rgba(245, 245, 245, 0.8);
    display: none;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 80%;
}

/* flash message */


/*header{
  background-color: #B2EBF4;
}
/*****************header*****************/




/****************************************/

/*****************section*****************/
/*@media(max-width: 768px){
  .content{
    position:relative;
    top:200px;
  }
  .form-login{
    text-align: webkit-center;
  }
  .form-group{
    width:auto !important;
  }
  #wise{
    position: relative !important;
    bottom: 190px !important;
    margin:auto !important;
  }
  .input-group{
    min-width: 440px;
    margin: auto;
  }
  .form-login{
    text-align: -webkit-center;
  }
}*/

.fg{
  border-style: none !important;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  height: 50px;
}

.login-content{
  width: 70% !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
#star{
  width: 80% !important;
  background-color:#4ABA51;
}
.login-logo{
  width:10% !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  cursor: default !important;
}
#google-logo:hover{
  background-color: #d9534f !important;
}
#facebook-logo:hover{
  background-color: #337ab7 !important;
}


#login{
  margin-top:5px;
  width: 80%;
  height: 40px;
  text-align: center;
}
#first-input{
  margin-top:2px;
}
#second-input{
  margin-top:0;
}
.input-group{
  width: 440px;
}
.input-group label{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 10%;
  /*text-align: center;*/
  display: inline-block;
  float: none !important;
}
.input-group input{
  width: 70% !important;
  /*text-align: center;*/
  display: inline-block;
  float: none !important;
}
.fa{
    height: 40px;
    width: 40px;
    background-color: #363b41;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding: 1rem;
    cursor: default;
    float:left;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(238, 238, 238, 0);
    color: #FDFCFD;
    /*border-bottom-color: rgba(238,238,238, 0.07);*/
    /*box-shadow: inset 0 5px 10px rgba(0,0,0,.075);*/
}

.wrapper input[type="button"] {
    position: relative;
    font-family: 'FontAwesome';
    margin-top: 4px;
    border-color: rgba(0,0,0,0);
}

#devider{
  width: 440px;
  min-width:440px;
  height: 20px;
  margin:auto;
  margin-bottom: 4px;
}
#devider>ul{
  width:440px;
  margin:0;
}
#devider>ul>li{
  padding:0;
  height:1px;
}
#devider>ul>li>hr{
  margin:0px ;
}
#or{
  font-family: 'NanumGothic';
  color:#ffffff;
  text-shadow : 0 1px 4px rgba(0,0,0,0.33);
}
#sign-up-logo{
  background-color: #4ABA51;
}
#sign-up-login{
  background-color: #4ABA51;
}

#div-ex{
  width: 440px;
  margin:auto
}

.form-control {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: none;
    color: #444444;
    height: 40px !important;
    padding: 6px 16px;
    margin-top: 2px;
    /*width: 400px !important;*/
}

.subscribe{
  margin-top:100px;
  text-align: -webkit-center;
}

#form-container{
  text-align: center;
  margin: auto;
  float:none;
}

.form-group{
  width: 80%;
  max-width:880px !important;
  align-content: center;
  display:inline-block;
}

.btn{
  float:none !important;
}

#wise{
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-size:40px;
  color:#ffffff;
  text-shadow : 0 1px 4px rgba(0,0,0,0.33);
  text-align: center;
  margin-top: 100px;
  font-family: 'NanumGothic';
  word-break: keep-all;
}
.wise{
  width:50%;
  margin: auto;
}

.btn-danger.btn-fill {
    border-color: #d9534f;
}

.btn-fill {
    color: #FFFFFF;
    opacity: 1;
}

#join-title{
  color: #87613d;
}

/*****************************************/

/*****************footer*****************/
footer{                         /*footer에 있는 txt 오른쪽으로 정렬*/
  text-align: right;
  vertical-align: bottom;
  /*background-color: #B2EBF4;*/
}

small{                          /*small 위치 정렬*/
  padding-top: 50px;
  padding-right: 20px;
}
/****************************************/
