#welcome{
  font-family: 'NanumGothic';
  color:#ffffff;
  text-shadow : 0 1px 4px rgba(0,0,0,0.33);
  text-align: center;
  font-size: 25px;
}

#logout{
  font-family: 'NanumGothic';
  font-size : 13px;
  width: 100px;
}

.subscribe{
  margin-top:220px;
}
