.zoomViewport{
    border: 3px solid blue;
    float : left;
    margin: 10px;
    padding: 10px;
    max-width: 570px;
    max-height: 570px;
    overflow: hidden;
    position: relative;
    background-color: cyan;
}  

#mandal-container {
	width: 550px;
	height: 550px;
    padding: 10px;
    margin: 5px;
}

.mandal-top, .mandal-center, .mandal-mid, .mandal-bot{
    width: 170px;
    height: 170px;
    margin: 5px;
    float: left;
}

.mandal-table {
    border-collapse:collapse;
    border-spacing:0;
}

.mandal-table td {
    border-style:solid;
    border-width:1px;
    max-width: 54px;
    max-height: 54px;
    
    position: relative;
}

.text-field {
    height: 53px;
    width: 55px;
    font-weight:normal;
    font-family:Arial, sans-serif;
    font-size: 80%;
    
    text-align:center;
    vertical-align: middle;
        
    overflow:hidden; 
    text-overflow:ellipsis; 
                
    table-layout:fixed;
    word-break:break-all;
    resize: none;
    
    display: table-cell;

}

.input-button {
    position: absolute;
    bottom: 1px;
    
    float: right;
    
    height: 20%;
    width: 3%;
    display: table-cell;
}

#mandal1 .center .text-field, #mandal-zoom1 .text-field{
    background-color: #E5CF6C;
}

#mandal2 .center .text-field, #mandal-zoom2 .text-field{
    background-color: #9DBE59;
}

#mandal3 .center .text-field, #mandal-zoom3 .text-field{
    background-color: #5BBE94;
}

#mandal4 .center .text-field, #mandal-zoom4 .text-field{
    background-color: #5884B3;
}

#mandal5 .center .text-field, #mandal-zoom5 .text-field{
    background-color: #CC6686;
}

#mandal6 .center .text-field, #mandal-zoom6 .text-field{
    background-color: #E68570;
}

#mandal7 .center .text-field, #mandal-zoom7 .text-field{
    background-color: #F9EBAA;
}

#mandal8 .center .text-field, #mandal-zoom8 .text-field{
    background-color: #D4E5B5;
}

#zoom-center .text-field{
    background-color: #B6E4D1;
}
