#calender,#bucket,#login{
  height: 128px;
  width: 128px;
  margin-top: 20px;
  margin-left: 20px;
}

#calender,#bucket,#login{
  float: right;
  padding-right: 5%;
}

#option{
  /*margin-top : 200px;*/
  /*width: 250px;*/
  float: left;
}

section{
  margin-top: 188px;
}

body{
  margin: 0px;
}

p{
  float: left;
  width: 250px;
  font-size: 50px;
  font-weight: bold;
}

#addbtn{
  cursor: pointer;
  margin:50px;
  float: left;
  height: 64px;
  width: 64px;
}

#plus{
  font-size:30px;
}

ul{
  margin: 0px;
  padding: 0px;
  display: inline-block;
  list-style: none;
}

.selector{
  height: 64px;
  width: 64px;
  margin: 0px;
  padding: 0px;
  float: left;
}
